<!-- apps logo -->
<app-logo></app-logo>
<div class="claim">The enaio powered case management dashboard</div>

<!-- login form -->
<form (ngSubmit)="login()" #loginForm="ngForm">

  <div class="form-control">
    <label>Username</label>
    <input class="input is-small" type="text" [(ngModel)]="form.username" name="username" required [disabled]="loading">
  </div>

  <div class="form-control">
    <label>Password</label>
    <input class="input is-small" type="password"
           autocomplete="new-password"
           [(ngModel)]="form.password" name="password" required [disabled]="loading">
  </div>

  <button type="submit" class="button is-primary"
          [ngClass]="{'is-loading': loading}"
          [disabled]="!loginForm.form.valid || loading">Login</button>
</form>
