
<!-- login dialog will show up if we are not yet authenticated -->
<app-login *ngIf="!authenticated; else loggedin"></app-login>

<ng-template #loggedin>

  <app-app-bar></app-app-bar>

  <div class="app-contents">

    <div class="products">
      <div [ngClass]="{selected: !selectedProduct}" (click)="selectProduct()">all</div>
      <div [ngClass]="{selected: selectedProduct === p}" *ngFor="let p of products" (click)="selectProduct(p)">{{p}}</div>
    </div>

    <div>{{chart?.size}}</div>

    <div class="chart-container">
      <canvas baseChart *ngIf="chart"
              [data]="chart.data"
              [labels]="chart.labels"
              [chartType]="'doughnut'"></canvas>
    </div>



  </div>


</ng-template>
