@import "styles.vars";

$primary: $accent-color;
$input-focus-border-color: $accent-color;

@import "../node_modules/bulma/bulma.sass";

html, body {
  padding: 0;
  margin: 0;
  height: 100%;
  background-color: $color-primary;
  background-image: url(./assets/img/background.jpg);
  background-size: cover;
  background-position: center;
}
